<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>

<body>
<main th:fragment="mainList">


  <div class="shop-list-wrap">
    <div class="shop-list-box">
      <ul class="shops-box">
        <li class="shop-each">
          <div class="shop-container">
            <div class="shop-container-util shop-each_img shop-img-rd ">

              <img src="../cafeImg/001-스타벅스-울산국가정원점/coffeshop_screenshot/img3.png" alt="">
            </div>
            <div class="shop-container-util shop-each_title">
              <span>스타벅스 울산 국가정원점</span>
            </div>
            <div class="shop-container-util shop-each_hashtag">
              <ul>
                <li class="shop-hashtag-rep rep1">
                  <div>
                    <span>#콜드브루</span>
                    <span>#울산중구</span>
                  </div>
                </li>
                <br>
                <li class="shop-hashtag-rep rep2">
                  <div>
                    <span>#포근함</span>
                    <span>#공원뷰</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </li>
        <li class="shop-each">
          <div class="shop-container">
            <div class="shop-container-util shop-each_img shop-img-rd ">

              <img src="../cafeImg/001-스타벅스-울산국가정원점/coffeshop_screenshot/img3.png" alt="">
            </div>
            <div class="shop-container-util shop-each_title">
              <span>스타벅스 울산 국가정원점</span>
            </div>
            <div class="shop-container-util shop-each_hashtag">
              <ul>
                <li class="shop-hashtag-rep rep1">
                  <div>
                    <span>#콜드브루</span>
                    <span>#울산중구</span>
                  </div>
                </li>
                <br>
                <li class="shop-hashtag-rep rep2">
                  <div>
                    <span>#포근함</span>
                    <span>#공원뷰</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </li>
        <li class="shop-each">
          <div class="shop-container">
            <div class="shop-container-util shop-each_img shop-img-rd ">

              <img src="../cafeImg/001-스타벅스-울산국가정원점/coffeshop_screenshot/img3.png" alt="">
            </div>
            <div class="shop-container-util shop-each_title">
              <span>스타벅스 울산 국가정원점</span>
            </div>
            <div class="shop-container-util shop-each_hashtag">
              <ul>
                <li class="shop-hashtag-rep rep1">
                  <div>
                    <span>#콜드브루</span>
                    <span>#울산중구</span>
                  </div>
                </li>
                <br>
                <li class="shop-hashtag-rep rep2">
                  <div>
                    <span>#포근함</span>
                    <span>#공원뷰</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </li>
        <li class="shop-each">
          <div class="shop-container">
            <div class="shop-container-util shop-each_img shop-img-rd ">

              <img src="../cafeImg/001-스타벅스-울산국가정원점/coffeshop_screenshot/img3.png" alt="">
            </div>
            <div class="shop-container-util shop-each_title">
              <span>스타벅스 울산 국가정원점</span>
            </div>
            <div class="shop-container-util shop-each_hashtag">
              <ul>
                <li class="shop-hashtag-rep rep1">
                  <div>
                    <span>#콜드브루</span>
                    <span>#울산중구</span>
                  </div>
                </li>
                <br>
                <li class="shop-hashtag-rep rep2">
                  <div>
                    <span>#포근함</span>
                    <span>#공원뷰</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </li>
        <li class="shop-each">
          <div class="shop-container">
            <div class="shop-container-util shop-each_img shop-img-rd ">

              <img src="../cafeImg/001-스타벅스-울산국가정원점/coffeshop_screenshot/img3.png" alt="">
            </div>
            <div class="shop-container-util shop-each_title">
              <span>스타벅스 울산 국가정원점</span>
            </div>
            <div class="shop-container-util shop-each_hashtag">
              <ul>
                <li class="shop-hashtag-rep rep1">
                  <div>
                    <span>#콜드브루</span>
                    <span>#울산중구</span>
                  </div>
                </li>
                <br>
                <li class="shop-hashtag-rep rep2">
                  <div>
                    <span>#포근함</span>
                    <span>#공원뷰</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </li>
        <li class="shop-each">
          <div class="shop-container">
            <div class="shop-container-util shop-each_img shop-img-rd ">

              <img src="../cafeImg/001-스타벅스-울산국가정원점/coffeshop_screenshot/img3.png" alt="">
            </div>
            <div class="shop-container-util shop-each_title">
              <span>스타벅스 울산 국가정원점</span>
            </div>
            <div class="shop-container-util shop-each_hashtag">
              <ul>
                <li class="shop-hashtag-rep rep1">
                  <div>
                    <span>#콜드브루</span>
                    <span>#울산중구</span>
                  </div>
                </li>
                <br>
                <li class="shop-hashtag-rep rep2">
                  <div>
                    <span>#포근함</span>
                    <span>#공원뷰</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </li>
        <li class="shop-each">
          <div class="shop-container">
            <div class="shop-container-util shop-each_img shop-img-rd ">

              <img src="../cafeImg/001-스타벅스-울산국가정원점/coffeshop_screenshot/img3.png" alt="">
            </div>
            <div class="shop-container-util shop-each_title">
              <span>스타벅스 울산 국가정원점</span>
            </div>
            <div class="shop-container-util shop-each_hashtag">
              <ul>
                <li class="shop-hashtag-rep rep1">
                  <div>
                    <span>#콜드브루</span>
                    <span>#울산중구</span>
                  </div>
                </li>
                <br>
                <li class="shop-hashtag-rep rep2">
                  <div>
                    <span>#포근함</span>
                    <span>#공원뷰</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </li>
        <li class="shop-each">
          <div class="shop-container">
            <div class="shop-container-util shop-each_img shop-img-rd ">

              <img src="../cafeImg/001-스타벅스-울산국가정원점/coffeshop_screenshot/img3.png" alt="">
            </div>
            <div class="shop-container-util shop-each_title">
              <span>스타벅스 울산 국가정원점</span>
            </div>
            <div class="shop-container-util shop-each_hashtag">
              <ul>
                <li class="shop-hashtag-rep rep1">
                  <div>
                    <span>#콜드브루</span>
                    <span>#울산중구</span>
                  </div>
                </li>
                <br>
                <li class="shop-hashtag-rep rep2">
                  <div>
                    <span>#포근함</span>
                    <span>#공원뷰</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </li>
        <li class="shop-each">
          <div class="shop-container">
            <div class="shop-container-util shop-each_img shop-img-rd ">

              <img src="../cafeImg/001-스타벅스-울산국가정원점/coffeshop_screenshot/img3.png" alt="">
            </div>
            <div class="shop-container-util shop-each_title">
              <span>스타벅스 울산 국가정원점</span>
            </div>
            <div class="shop-container-util shop-each_hashtag">
              <ul>
                <li class="shop-hashtag-rep rep1">
                  <div>
                    <span>#콜드브루</span>
                    <span>#울산중구</span>
                  </div>
                </li>
                <br>
                <li class="shop-hashtag-rep rep2">
                  <div>
                    <span>#포근함</span>
                    <span>#공원뷰</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
  <div class="page">
    <!-- <div class="pp1"></div>
    <div class="pp1"></div>
    <div class="pp1"></div>
    <div class="pp1"></div>
    <div class="pp1"></div> -->
    <a href="javascript:void(0)"><<</a>
    <a href="javascript:void(0)"><</a>
    <a href="javascript:void(0)">1</a>
    <a href="javascript:void(0)">2</a>
    <a href="javascript:void(0)">3</a>
    <a href="javascript:void(0)">4</a>
    <a href="javascript:void(0)">5</a>
    <a href="javascript:void(0)">></a>
    <a href="javascript:void(0)">>></a>
  </div>

</main>
</body>
</html>