<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>커피숍 삭제</title>
  <style>
    .first-row {
      background-Color: yellow;
    }
  </style>

</head>

<body>
  <div th:fragment="shopDelForm">



    <div class="main-sub">
      <div class="main-nav-title">
        <span>커피숍 정보 삭제 요청하기</span>
      </div>
    </div>

    <div>
      <div class="content">
        <table>
          <th color="blue" align ="center" colspan = "2">커피숍 삭제 양식</th>
          <tr>
            <td class="box1">
              커피숍 명
            </td>
            <td class="box2">
              <input type="text" placeholder="커피숍 명을 입력해주세요">
              <input type="button" id="이름" value="조회"></p>
            </td>
          </tr>




        </table>
      </div>
      <div class="Btn">
        <input type="button" id="add" value="삭제요청">
        <input type="button" id="cancel" value="취소">
      </div>
    </div>
  </div>
</body>

</html>