@charset "utf-8";

/* ckeditor style 지정 */
#bcontent {display:none;}
.coffeeShopBbs-wrap .ck-editor__editable{min-height:20rem;}

  main {display:flex; justify-content: center;}
    /*.coffeeShopBbs-wrap * {outline: 1px solid red;}*/
    .coffeeShopBbs-wrap {
      width: 80%
    }

    .coffeeShopBbs-wrap .coffeeShopBbs-title {
      text-align: center;
      padding: 20px 0;
    }

    .coffeeShopBbs-wrap .coffeeShopBbs-content {
      display: grid;
      grid-template-columns: 100px minmax(100px, 1fr);
      gap: 5px;
    }

    .coffeeShopBbs-wrap .coffeeShopBbs-content .w100 {
      width: 100%;
      padding: 3px;
    }

    .coffeeShopBbs-wrap .coffeeShopBbs-btngrp {
      display: flex;
      justify-content: flex-end;
    }

