@charset "utf-8";


  main {display:flex; justify-content: center;}
    .coffeeShopBbs-wrap * {
      /* outline: 1px solid red; */
      box-sizing: border-box
    }

    .coffeeShopBbs-wrap {
      width: 90%
    }

    .coffeeShopBbs-wrap .coffeeShopBbs-title {
      text-align: center;
      padding: 20px 0;
    }
.coffeeShopBbs-wrap .coffeeShopBbs-page .coffeeShopBbs-page-item{
  display:inline-block;
  width:24px;
  height:24px;
  padding:2px;
  text-align: center;
}

.coffeeShopBbs-wrap .coffeeShopBbs-page .coffeeShopBbs-page-item.active{
  background-color:#333;
  color:white;
}
    .coffeeShopBbs-wrap .coffeeShopBbs-content table {
      width: 100%;
      border: 1px solid #333;
      border-collapse: collapse;
    }

    .coffeeShopBbs-wrap .coffeeShopBbs-content table th,
    .coffeeShopBbs-wrap .coffeeShopBbs-content table td {
      border: 1px solid #333;
      padding: 5px;
    }


    .coffeeShopBbs-wrap .coffeeShopBbs-content table > thead > tr th:nth-child(3) {
      width: 50%;
    }

    .coffeeShopBbs-wrap .coffeeShopBbs-content table > tbody > tr > td:first-child,
    .coffeeShopBbs-wrap .coffeeShopBbs-content table > tbody > tr > td:last-child {
      text-align: right;
    }

    .coffeeShopBbs-wrap .coffeeShopBbs-btngrp {
      display: flex;
      justify-content: flex-end;
    }

    .coffeeShopBbs-wrap .coffeeShopBbs-page {
      display: flex;
      justify-content: center;
      padding: 20px 0;
    }

    .coffeeShopBbs-wrap .coffeeShopBbs-search {
      display: flex;
      justify-content: center;
    }

    i.fa-solid.fa-reply {
      color: pink;
    }
