<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <style>
      @import url("../css/reset.css");

      html,
      body {
        height: 100%;
      }

      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }

      input.fieldError {
        border: 1px solid red;
      }
      .globalError,
      p.fieldError {
        color: red;
        font-size: 0.8em;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3>로그인</h3>
      <hr />
      <!-- 글로벌 오류 case1) form태그 밖에 있을 때 -->
      <ul th:if="${#fields.hasErrors('${loginForm}')}">
        <li th:errors="${loginForm}" th:errorclass="globalError">
          글로벌 오류
        </li>
      </ul>
      <form action="" th:action method="post" th:object="${loginForm}">
        <ul>
          <!-- 글로벌 오류 case2) form태그 안에 있을 때
      <li th:if="${#fields.hasErrors('global')}" class="globalError">
        <p th:each="err : ${#fields.errors('global')}" th:text="${err}">글로벌 오류</p>
      </li>
      -->
          <li>
            <label for="memberEmail">@아이디</label>
            <input
              type="text"
              name="memberEmail"
              id="memberEmail"
              th:field="*{memberEmail}"
              th:errorclass="fieldError"
            />
          </li>
          <li th:if="${#fields.hasErrors('memberEmail')}">
            <p th:errors="*{memberEmail}" th:errorclass="fieldError"></p>
          </li>
          <li>
            <label for="memberPasswd">비밀번호</label>
            <input
              type="password"
              name="memberPasswd"
              id="memberPasswd"
              th:field="*{memberPasswd}"
              th:errorclass="fieldError"
            />
          </li>
          <li th:if="${#fields.hasErrors('memberPasswd')}">
            <p th:errors="*{memberPasswd}" th:errorclass="fieldError">dd</p>
          </li>
          <li>
            <!--      <button type="submit" th:text="#{btn.login}">로그인</button>-->
            <button type="submit">로그인</button>
          </li>
          <li>
            <a href="#" th:href="@{/members/findEmail}">아이디찾기</a>
            <a href="#">비밀번호찾기</a>
            <a href="#" th:href="@{/members/join}">회원가입</a>
          </li>
        </ul>
      </form>
    </div>
  </body>
</html>
