<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
</head>
<body th:with="loginMemberShip = ${session.loginMemberShip}">
  <ul>
    <li><a th:href="@{|/members/${loginMemberShip.memberEmail}/detail|}">내정보조회</a></li>
    <li><a th:href="@{|/members/${loginMemberShip.memberEmail}/modifyForm|}">내정보수정</a></li>
    <li><a th:href="@{|/members/${loginMemberShip.memberEmail}/out|}">탈퇴</a></li>
  </ul>
</body>
</html>