<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/main2::main2(
        ~{::title},       <!--/* title */-->
        ~{::link},              <!--/* styles */-->
        ~{::script},              <!--/* scripts */-->
        ~{},       <!--/* style */-->
        ~{},      <!--/* script */-->
        ~{::.upm-inner},  <!--/* upm */-->
        ~{},              <!--/* header */-->
        ~{::nav},         <!--/* nav */-->
        ~{::main},        <!--/* main */-->
        _                 <!--/* footer default*/-->
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 목록</title>
  <link rel="stylesheet" href="" th:href="@{/css/coffeeShopBbs/list.css}">
  <script defer src="" th:src="@{/js/common/ckeditor.js}"></script>
  <script defer src="" th:src="@{/js/coffeeShopBbs/list.js}"></script>
</head>
<body>
<div class="global-wrap">
  <div class="upm">
    <div class="inner upm-inner">
      <th:block th:replace="~{fragment/uppermost2::afterLoginUpm}"></th:block>
    </div>
  </div>
  <div class="hdr">
    <div class="inner hdr-inner">
      <header>header</header>
    </div>
  </div>
  <div class="gnb">
    <div class="inner gnb-inner">
      <nav></nav>
    </div>
  </div>
  <div class="main">
    <div class="inner main-inner"  th:data-code="${shopId}">
      <main>
        <div class="coffeeShopBbs-wrap" >
          <div class="coffeeShopBbs-title" ><h3>전체목록</h3></div>
          <div class="coffeeShopBbs-body">
            <div class="coffeeShopBbs-content">
              <table>
                <thead>
                <tr>
                  <th>커피숍번호</th>
                  <th>커피숍이름</th>
                  <th>커피숍주소</th>
                  <th>전화번호</th>
                  <th>작성일</th>
                  <th>북마크카운트</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${list}">
                  <td th:text="${item.shopId}">커피숍번호</td>
                  <td>
                    <a href="" th:href="@{/coffeeShopBbs/{shopId}(shopId=${item.shopId})}" th:text="${item.shopName}">제목</a>
                  </td>
                  <td th:text="${item.shopAddress}">커피숍주소</td>
                  <td th:text="${item.shopTel}">전화번호</td>
                  <td th:text="${#temporals.format(item.shopCdate,'yy/MM/dd HH:dd')}">작성일</td>
                  <td th:text="${item.shopBookmarkCnt}">북마크카운트</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="coffeeShopBbs-btngrp">
              <button type="botton" id="writeBtn" th:data-code="${code}">글작성</button>
            </div>

            <div class="coffeeShopBbs-page">
<!--              이전페이지 정보-->
              <th:block th:if="${fc.prev}">
                <a class="coffeeShopBbs-page-item" href=""
                   th:href="@{/coffeeShopBbs/list/1/{searchType}/{keyword}(searchType=${fc.searchType},keyword=${fc.keyword})}">
                  <i class="fas fa-angle-double-left"></i>
                </a>
                <a class="coffeeShopBbs-page-item" href=""
                   th:href="@{/coffeeShopBbs/list/{reqPage}/{searchType}/{keyword}(reqPage=${fc.startPage-1},searchType=${fc.searchType},keyword=${fc.keyword})}">
                  <i class="fas fa-angle-left"></i>
                </a>
              </th:block>
<!--              페이지표시-->
              <th:block th:each="pnum : ${#numbers.sequence(fc.startPage,fc.endPage)}">
                <th:block th:if="${pnum != 0}">
                  <a class="coffeeShopBbs-page-item" th:classappend="${fc.rc.reqPage == pnum} ? 'active'" href=""
                     th:href="@{/coffeeShopBbs/list/{reqPage}/{searchType}/{keyword}(reqPage=${pnum},searchType=${fc.searchType},keyword=${fc.keyword})}"
                     th:text="${pnum}">1</a>
                </th:block>
              </th:block>
<!--                다음페이지정보-->
              <th:block th:if="${fc.next}">
                <a class="coffeeShopBbs-page-item" href=""
                   th:href="@{/coffeeShopBbs/list/{reqPage}/{searchType}/{keyword}(reqPage=${fc.endPage+1},searchType=${fc.searchType},keyword=${fc.keyword})}">
                  <i class="fas fa-angle-right"></i>
                </a>
                <a class="coffeeShopBbs-page-item" href=""
                   th:href="@{/coffeeShopBbs/list/{reqPage}/{searchType}/{keyword}(reqPage=${fc.finalEndPage},searchType=${fc.searchType},keyword=${fc.keyword})}">
                  <i class="fas fa-angle-double-right"></i>
                </a>
              </th:block>
            </div>

            <div class="coffeeShopBbs-search">
              <select name="searchType" id="searchType" th:field="${fc.searchType}">
                <option th:value="TC" value="">제목+내용</option>
                <option th:value="T" value="">제목</option>
                <option th:value="C" value="">내용</option>
                <option th:value="E" value="">아이디</option>
                <option th:value="N" value="">별칭</option>
              </select>
              <input type="text" id="keyword" name="keyword" th:field="${fc.keyword}">
              <button id="searchBtn">검색</button>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div class="foot">
      <div class="inner foot-inner">
        <footer>
          footer
        </footer>
      </div>
    </div>
  </div>
</div>
</body>
</html>