@import url("reset.css");
/* ----------------------- 기초 세팅 ----------------------- */
body {
  width: 100%;
  height: 1000vh;
}

a {
  color: #000;
  text-decoration: none;
}

.box {
  outline: 1px solid tomato;
  display: flex;
  justify-content: center;

  flex-direction: column;
}

.header,
.title,
.content {
  width: 100%;
  height: auto;
  outline: 1px solid tomato;
}
.header-nav,
.header-title,
.header-component {
  outline: 1px solid tomato;
}
.menu-nav,
.main-content,
.menu-hashtag {
  outline: 1px solid tomato;
}

/* ----------------------- Header ----------------------- */
/* -- 홈 타이틀 / 로그인 정보 / 상호명 -- */
.header {
  display: flex;
  justify-content: center;
}

.header-nav {
  width: 20%;
  height: 100px;
}
.header-title {
  width: 60%;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
.header-component {
  width: 20%;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.title {
  display: flex;
  justify-content: center;
}
.store-title {
  text-align: center;
  line-height: 100px;
  font-size: 60px;
}

/* -------------- content/menu-nav/menu-nav-list -------------- */
.content {
  display: flex;

  position: relative;
}

.menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
}

.menu-nav__list {
  position: fixed;
  text-align: center;
  outline: 1px solid tomato;
  top: 350px;
}

.list__item {
  margin: 10px 0;
  font-size: 20px;
}

/* main-content */
.main-content {
  width: 60%;
  display: flex;
}

.content-box {
  margin: 30px;
}

/* Hashtag */

.menu-hashtag {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hashtag-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 350px;
  outline: 1px solid tomato;
  margin: 20px;
}

.hashtag-title {
  text-align: center;
  margin: 10px 0;
  outline: 1px solid tomato;
}

.hashtag-content {
  outline: 1px solid tomato;
}

.hashtag-content > div {
  padding: 2px;
}

/* carousel 
-------------------------------------------------------------------------
*/
