<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>

<body>
<th:block th:fragment="beforeLoginUpm">
  <div class="header_top_wrap">
    <div class="header_logo_home_evt">
      <a class="logo" href="http://localhost:9080/" title="로고 이미지">로고</a>
    </div>

    <!--검색바 시작-->
    <div class="util-wrap">
      <div class="util-box">
        <div class="search-box-wrap">
          <div class="input_tag">
            <li class="detail-box">
              <a href="#" class="detail-icon">상세</a>
            </li>
            <ul class="input_tag__tags">
              <div id="hashtags"></div>
              <li class="input_tag__tags__input">
<!--                <select name="searchType" id="searchType" th:field="${fc.searchType}" style="display: none;">-->
                <select name="searchType" id="searchType" style="display: none;">
                  <option th:value="KEYWORD" value="">키워드</option>
                  <option th:value="HASHTAG" value="">해시태그</option>
                </select>
<!--                <input type="text" id="keyword" placeholder="검색어를 입력하세요" name="keyword" th:field="${fc.keyword}" onkeyup="backspace()">-->
                <input type="text" id="keyword" placeholder="검색어를 입력하세요" name="keyword" onkeyup="backspace()">
              </li>
            </ul>
            <div class="search-box">
              <button id="searchBtn">검색</button>
            </div>
          </div>
        </div>
        <div class="location-selected-wrap">
          <div class="condition-reset-wrap"></div>
          <div class="areabox"></div>
        </div>

        <!-- search-detail-header -->

        <div class="menu">
          <input type="checkbox" class="detailCHK" id="collapsible">
          <div class="menuitems">
            <div class="search-detail-wrap">
              <div class="search-detail-header-wrap">
                <div class="detail-location-wrap">
                  <div class="align-util align-location align-loc1">
                    <a href="#" class="btn-loc1">시</a>
                  </div>
                  <div class="align-util align-location align-loc2">
                    <a href="#" class="btn-loc2">구</a>
                  </div>
                </div>
                <div class="detail-hashtag-wrap">
                  <div class="align-util hashtag-main">
                    <span>해시태그</span>
                  </div>
                  <div class="align-hashtag align-pop">
                    <a href="#" class="btn-pop">인기순</a>
                  </div>
                  <div class="align-hashtag align-alpha">
                    <a href="#" class="btn-alpha">글자순</a>
                  </div>
                  <div class="align-hashtag align-theme">
                    <a href="#" class="btn-theme">테마별</a>
                  </div>
                </div>
              </div>
            </div>

            <!-- search-detail-body -->
            <div class="search-detail-content-wrap">
              <div class="search-detail-content-box">
                <div class="list-wrap list-wrap-loc1 com">
                  <ul class="list-loc1 com1 list">
                    <li class="is_on">
                      <!-- 처음은 전체로 만들어준다 -->
                      <a href="#tab1" class="com3 btn All" style="z-index: 2;">전체</a>
                    </li>
                    <li>
                      <a href="#tab2" class="com3 btn Busan">부산광역시</a>
                    </li>
                    <li>
                      <a href="#tab3" class="com3 btn Ulsan">울산광역시</a>
                    </li>
                  </ul>
                </div>
                <div id="tab3" class="com2 cont">
                  <div class="com8 cont_area3">
                    <div class="com7 asd3">
                    </div>
                  </div>
                </div>
                <div id="tab2" class="com2 cont">
                  <div class="com8 cont_area2">
                    <div class="com7 asd2">
                    </div>
                  </div>
                </div>
                <div id="tab1" class="com2 cont">
                  <div class="com8 cont_area1">
                    <div class="com7 asd1">
                    </div>
                  </div>
                </div>
              </div>
              <div class="list-wrap list-wrap-hashtag">
                <div class="scroll hashtagbox">
                  <li class="sub_item">
                    <label title="레노버" class="aaa hash_com hashtagbox">
                      <input type="checkbox" autocomplete="off" id="searchMakerRep6792" name="searchMakerRep6792">
                      #레노버
                    </label>
                    <label title="에이수스" class="bbb hash_com hashtagbox">
                      <input type="checkbox" autocomplete="off" id="searchMakerRep8888" name="searchMakerRep8888">
                      #에이수스
                    </label>
                  </li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--검색바 종료-->

    <div class="header_util_evt">
      <a class="login-btn" href="" th:href="@{/login}">로그인</a>
      <a class="signin-btn" href="" th:href="@{/members/join}">회원가입</a>
    </div>
  </div>

</th:block>

<th:block th:fragment="afterLoginUpm">

  <div class="header_top_wrap">
    <div class="header_logo_home_evt">
      <a class="logo" href="http://localhost:9080/" title="로고 이미지">로고</a>
    </div>
    <!--검색바 시작-->
    <div class="util-wrap">
      <div class="util-box">
        <div class="search-box-wrap">
          <div class="input_tag">
            <li class="detail-box">
              <a href="#" class="detail-icon">상세</a>
            </li>
            <ul class="input_tag__tags">
              <div id="hashtags"></div>
              <li class="input_tag__tags__input">
<!--                <select name="searchType" id="searchType" th:field="${fc.searchType}" style="display: none;">-->
                <select name="searchType" id="searchType" style="display: none;">
                  <option th:value="KEYWORD" value="">키워드</option>
                  <option th:value="HASHTAG" value="">해시태그</option>
                </select>
<!--                <input type="text" id="keyword" placeholder="검색어를 입력하세요" name="keyword" th:field="${fc.keyword}" onkeyup="backspace()">-->
                <input type="text" id="keyword" placeholder="검색어를 입력하세요" name="keyword" onkeyup="backspace()">
              </li>
            </ul>
            <div class="search-box">
              <button id="searchBtn">검색</button>
            </div>
          </div>
        </div>
        <div class="location-selected-wrap">
          <div class="condition-reset-wrap"></div>
          <div class="areabox"></div>
        </div>

        <!-- search-detail-header -->

        <div class="menu">
          <input type="checkbox" class="detailCHK" id="collapsible">
          <div class="menuitems">
            <div class="search-detail-wrap">
              <div class="search-detail-header-wrap">
                <div class="detail-location-wrap">
                  <div class="align-util align-location align-loc1">
                    <a href="#" class="btn-loc1">시</a>
                  </div>
                  <div class="align-util align-location align-loc2">
                    <a href="#" class="btn-loc2">구</a>
                  </div>
                </div>
                <div class="detail-hashtag-wrap">
                  <div class="align-util hashtag-main">
                    <span>해시태그</span>
                  </div>
                  <div class="align-hashtag align-pop">
                    <a href="#" class="btn-pop">인기순</a>
                  </div>
                  <div class="align-hashtag align-alpha">
                    <a href="#" class="btn-alpha">글자순</a>
                  </div>
                  <div class="align-hashtag align-theme">
                    <a href="#" class="btn-theme">테마별</a>
                  </div>
                </div>
              </div>
            </div>

            <!-- search-detail-body -->
            <div class="search-detail-content-wrap">
              <div class="search-detail-content-box">
                <div class="list-wrap list-wrap-loc1 com">
                  <ul class="list-loc1 com1 list">
                    <li class="is_on">
                      <!-- 처음은 전체로 만들어준다 -->
                      <a href="#tab1" class="com3 btn All" style="z-index: 2;">전체</a>
                    </li>
                    <li>
                      <a href="#tab2" class="com3 btn Busan">부산광역시</a>
                    </li>
                    <li>
                      <a href="#tab3" class="com3 btn Ulsan">울산광역시</a>
                    </li>
                  </ul>
                </div>
                <div id="tab3" class="com2 cont">
                  <div class="com8 cont_area3">
                    <div class="com7 asd3">
                    </div>
                  </div>
                </div>
                <div id="tab2" class="com2 cont">
                  <div class="com8 cont_area2">
                    <div class="com7 asd2">
                    </div>
                  </div>
                </div>
                <div id="tab1" class="com2 cont">
                  <div class="com8 cont_area1">
                    <div class="com7 asd1">
                    </div>
                  </div>
                </div>
              </div>
              <div class="list-wrap list-wrap-hashtag">
                <div class="scroll hashtagbox">
                  <li class="sub_item">
                    <label title="레노버" class="aaa hash_com hashtagbox">
                      <input type="checkbox" autocomplete="off" id="searchMakerRep6792" name="searchMakerRep6792">
                      #레노버
                    </label>
                    <label title="에이수스" class="bbb hash_com hashtagbox">
                      <input type="checkbox" autocomplete="off" id="searchMakerRep8888" name="searchMakerRep8888">
                      #에이수스
                    </label>
                  </li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--검색바 종료-->


    <div class="header_util_evt">
      <a class="login-btn" href="" th:href="@{/logout}">로그아웃</a>
      <div th:text="|[${s_name}]|"></div>
      <a class="signin-btn" href="" th:href="@{|/members/myinfo/${s_id}|}">마이페이지</a>
    </div>
  </div>


</th:block>
</body>
</html>