<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/main2::main2(
        ~{::title},       <!--/* title */-->
        ~{::link},              <!--/* styles */-->
        ~{::script},              <!--/* scripts */-->
        ~{},       <!--/* style */-->
        ~{},      <!--/* script */-->
        ~{::.upm-inner},  <!--/* upm */-->
        ~{},              <!--/* header */-->
        ~{::nav},         <!--/* nav */-->
        ~{::main},        <!--/* main */-->
        _                 <!--/* footer default*/-->
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신고된 리뷰 목록</title>
  <link rel="stylesheet" href="" th:href="@{/css/coffeeShop/list.css}">
  <script defer src="" th:src="@{/js/common/ckeditor.js}"></script>
  <script defer src="" th:src="@{/js/coffeeShop/list.js}"></script>
</head>
<body>
<div class="global-wrap">
  <div class="upm">
    <div class="inner upm-inner">
      <th:block th:replace="~{fragment/uppermost2::afterLoginUpm}"></th:block>
    </div>
  </div>
  <div class="hdr">
    <div class="inner hdr-inner">
      <header>header</header>
    </div>
  </div>
  <div class="gnb">
    <div class="inner gnb-inner">
      <nav th:replace="~{fragment/menu::my-page}"></nav>
    </div>
  </div>
  <div class="main">
    <div class="inner main-inner" th:data-code="${shopId}">
      <main>
        <div class="coffeeShop-wrap">
          <div class="coffeeShop-title">
            <h3>신고된 리뷰 목록</h3>
          </div>
          <div class="coffeeShop-body">
            <div class="coffeeShop-content">
              <form id="delForm" action="" method="post" th:object="${reviews}">
                <table>
                  <thead>
                  <tr>
                    <th>NO</th>
                    <th>내부ID</th>
                    <th>리뷰내용</th>
                    <th>생성일자</th>
                    <th>신고된 횟수</th>
                    <th>작성자</th>
                    <th>작성된 커피숍</th>
                    <th>리뷰 삭제</th>
                  </tr>
                  </thead>
                  <tbody >
                  <tr th:each="item : ${reviews}">
                    <th:block th:if="${itemStat.first}">
                      <td th:text="${itemStat.count}"></td>
                      <td th:text="${item.reviewId}"></td>
                      <td th:text="${item.reviewContent}"></td>
                      <td th:text="${item.reviewCdate}"></td>
                      <td th:text="${item.reportCount}"></td>
                      <td th:text="${item.memberName}"></td>
                      <td th:text="${item.shopName}"></td>
                      <td><button type="button" formmethod="post" class="revDelBtn"
                                  th:data-review-id="${item.reviewId}">삭제</button></td>
                    </th:block>

                    <th:block th:unless="${itemStat.first}">
                      <td th:text="${itemStat.count}"></td>
                      <td th:text="${item.reviewId}"></td>
                      <td th:text="${item.reviewContent}"></td>
                      <td th:text="${item.reviewCdate}"></td>
                      <td th:text="${item.reportCount}"></td>
                      <td th:text="${item.memberName}"></td>
                      <td th:text="${item.shopName}"></td>
                      <td><button type="button" formmethod="post" class="revDelBtn"
                                  th:data-review-id="${item.reviewId}">삭제</button></td>
                    </th:block>
                  </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div class="foot">
      <div class="inner foot-inner">
        <footer>
          footer
        </footer>
      </div>
    </div>
  </div>
</div>
<script>
  window.onload = function() {
    const $memberInfo = document.querySelector('.review-content');
    $memberInfo.addEventListener('click', (evt) => {
    const [...classValues] = evt.target.classList;

    const reviewId = evt.target.dataset.reviewId;

      if (classValues.includes('revDelBtn')) {
        if(confirm('정말로 삭제하시겠습니까?')) {
          delForm.action = `/admin/${reviewId}/reviewDel`;
          delForm.submit();
        }
        return;
      }
    });
  }
</script>
</body>
</html>