@import url("reset.css");
body{
  height: 1000vh;
}

/* util */
/* 
  Home Page Color Gradation
  blue : #28aae1
  green : #8cc841
*/


body{font-family:  sans-serif, Arial,"맑은 고딕"}

@media screen and (min-width: 961px) {
/* Home Page */


/* Contents Page */
  /* Header*/
  header{position: fixed; width: 100%; height: 120px; box-shadow: 0 7px 10px -3px rgba(132, 155, 156, 0.8); background-color: #fff; z-index: 1;}
  .header_top_wrap {width: 100%; height:120px;  }
  .header_logo_home_evt{width: 220px; height: 37px; text-align: center; position: absolute; top: 40px; left: 50px;}
  .logo{width:100%; height: 100%; background-size: cover; background-image: url("../img/logo/logo-color.png");  display: block; overflow: hidden; text-indent: -20000px; }
  .header_util_evt{position: absolute; right: 55px; top: 50px; color:#29aeec;}
  .header_util_evt>a{color:#29aeec;}
  .header_util_evt>a:first-child{margin-right: 3px;}
  .header_util_evt>a:last-child{border-left: 1px solid #aaa; padding-left: 5px;}

/* container */
  /* shop_info_wrap */
  /* shop */
  .container{width: 97%; height: auto; padding-top: 120px; margin: 0 auto; min-width: 961px; max-width: 1100px;}
  .shop_info_wrap{margin: 0 auto ;  padding-bottom: 20px;}
  .shop_title_wrap{width: 100%; height: 200px;  display: flex; justify-content: center; align-items: center; }
  .shop-info{width: auto;  display: flex;  align-items: center; margin: 5px 0;  }
  /* Content Page - Shop Img - Carousel */
  .shop-info_img{width: 30%; height: 300px; }
  .info-img-box {max-height: 300px;position: relative; box-shadow: 0 7px 10px -3px rgba(132, 155, 156, 0.8);}
  .shop-img {display: none;}
  .shop-img > img {width: 100%;height: 300px;}
  .prev,
  .next {cursor: pointer;position: absolute;top: 50%;width: auto;margin-top: -22px;padding: 16px;color: white;font-weight: bold;font-size: 14px;border-radius: 0 5px 5px 0;user-select: none;}
  .next {right: 0;border-radius: 5px 0 0 5px;}
  .prev:hover,
  .next:hover {background-color: rgba(0, 0, 0, 0.3);}
  .fade {-webkit-animation-name: fade;-webkit-animation-duration: 1s;animation-name: fade;animation-duration: 1s;}
  @-webkit-keyframes fade {from {opacity: 0.4;} to {opacity: 1;}}
  @keyframes fade {from {opacity: 0.4;} to {opacity: 1;}}
  
  /* shop-info-content-wrap */
  .shop-info-content-wrap{ display: flex; flex-direction: column; width: 30%; height: 300px; margin: 0 auto;}
  .shop-info-content{margin: auto 0 ; display: flex;}
  .shop-title-sub-box{margin-top: 0;}
  .shop-title-sub{position: relative; width: 100%;}
  .shop-title-sub>h1{font-size: 25px;  vertical-align: top; display: inline-block;}

  .icon-box{ width: 20%; height: auto;}
  .txt-box{width: 80%; font-size: 14px; margin: auto 0;}
  .heart-btn{width: 25px; height: 25px;  background-size: cover; background-image: url("../icon/icon-heart-empty-red.png"); display: inline-block; overflow: hidden; text-indent: -20000px; position: absolute; top: -2px; right: 0; margin-right: 50px;}
  .link-btn{width: 25px; height: 25px;  background-size: cover; background-image: url("../icon/icon-heart-empty-red.png"); display: inline-block; overflow: hidden; text-indent: -20000px; position: absolute; top: -2px; right: 0; }

  .shop-hashtag-icon-box{margin: auto 0;}

  .location-icon{width: 15px; height: 20px; background-size: cover; background-image: url("../icon/icon-location.png"); display: block; overflow: hidden; text-indent: -20000px;}
  .call-icon{width: 19px; height: 20px; background-size: cover; background-image: url("../icon/icon-call.png"); display: block; overflow: hidden; text-indent: -20000px;}
  .hashtag-icon{width: 17px; height: 20px;  display: block; overflow: hidden; text-indent: -20000px;}
  .hashtag-all-icon{width: 22px; height: 22px; background-size: cover; background-image: url("../icon/icon-hashtag-all.png"); display: block; overflow: hidden; text-indent: -20000px;}
  .info-btn{width: 15px; height: 12px; background-size: cover; background-image: url("../icon/icon-triangle-white.png"); display: block; overflow: hidden; text-indent: -20000px;}

  /* shop-map */
  .map-box{width: 30%; height: 300px; outline: 1px solid tomato;}

  /* shop-contents_all */
  /* content-info_wrap */
  .shop-contents_all{ margin: 5px auto 0; }
  .content-info_wrap{margin-top: 10px;  background:linear-gradient(to bottom, #29aeec , rgb(174, 239, 255) 99%);}
  .content-info{display: flex; justify-content: space-between; align-items: center; padding: 15px;}
  .content-info_title{color: #fff;}
  /* menu */
  .menu-item-box{width: 100%; margin: 0 auto;}
  .item {width: 100%; margin: 0 auto;}
  .item:after {content: ""; display: block; clear: both;}
  .item-list-set {float: left;width: 25%;position: relative;}
  .item-img {width: 100%;}
  .item-img > img {display: block;width: 100%;max-height: 300px;object-fit: fill;}
  .item-info {text-align: center;margin: 15px 0; }

  /* review */
  .review-wrap{border-top: none; margin-top: 5px; }
  .review-box{width: 100%; box-shadow: 0px 2px 14px -2px rgba(153, 162, 180, 0.8);}
  .review-header{display: flex; justify-content: space-between; align-items: center; padding: 15px 0; margin: 0 15px; border-bottom: 1px solid #aaa;}
  .review-writer-info{display: flex; }
  .review-writer{margin-right: 20px;}
  .review-date{font-size: 10px; margin: auto 0; color: #aaa;}
  .review-content{padding: 15px; font-size: 14px;}

  .review-delete-btn>a{display: inline-block;}

  .rev-modify-btn{width: 15px; height: 15px; background-size: cover; background-image: url("../icon/icon-modify-black.png"); display: block; overflow: hidden; text-indent: -20000px; margin-right: 20px;}
  .rev-report-btn{width: 20px; height: 17px; background-size: cover; background-image: url("../icon/icon-report.png"); display: block; overflow: hidden; text-indent: -20000px; margin-right: 20px;}
  .rev-del-btn{width: 10px; height: 10px; background-size: cover; background-image: url("../icon/icon-ex-15.png"); display: block; overflow: hidden; text-indent: -20000px; }
  
  .delabc{width: 15px; height: 15px;}
}

