@import url("reset.css");
/* util */

/* screen-width */
/*

  min-width : 641px; 

*/

/* 
  Home Page Color Gradation
  blue : #28aae1
  green : #8cc841
  
background:linear-gradient(to bottom, #8cc841 , #29aeec 50%);

  align-selected-background-color : #8ad2fb 
  align-non-selected-background-color : #29Aeec
  X_box-background-color : #e0f7ff
*/

@media screen and (min-width:641px) {
  


  body{background:linear-gradient(to bottom, #8cc841 , #29aeec 50%); width: 100%; height: 100vh; font-family:  sans-serif, Arial,"맑은 고딕"}

  /* header-box */
  .header-box{display:flex; justify-content: flex-end; align-items: center; margin: 40px;}
  .header-login{padding-right: 5px; border-right: 1px solid #fefefeda;}
  .header-signin{padding-left:10px;}
  .header-content > a{color: #fefefe; text-decoration: none;}

  /* util-wrap */
  .util-wrap{display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top:140px; letter-spacing: 2px;}
  /* util-box */
  .util-box{display: flex; justify-content: center; align-items: center; flex-direction: column; }

  /* Logo Style */
  .logo{width: 400px; height: 100px;}
  .logo>img{width: 100%; height: auto;}

  /* Search-Box Style */
  .search-box-wrap{position: relative;}
  .detail-box{position:absolute; left:25px;top:20px; }
  .detail-icon{width: 13px; height: 10px; background-size: cover; background-image: url("../icon/icon-triangle_inverted.png"); display: block; overflow: hidden; text-indent: -20000px;}
  .search-input{width: 50vw; min-width: 500px; max-width: 650px; flex: 1 1 0%; border-radius: 2rem; padding: 1rem 4rem; font-size: 1rem; border: none; }
  .search-box{ position: absolute; right: 25px; top: 17px; }
  .search-icon{width: 16px; height: 17px; background-size: cover; background-image: url("../icon/icon-search.png"); display: block; overflow: hidden; text-indent: -20000px;}

  /* location-selected-wrap */
  .location-selected-wrap{width: 50vw; min-width: 500px;  max-width: 650px; margin: 24px 0; padding: 0 4rem; position: relative;}

  .condition-reset-wrap{position: absolute; left:20px; top: 5px;}
  .reset-icon-box{background-color: #a8d2eb; padding: 5px; border-radius: 50%;}
  .reset-icon{width: 13px; height: 12px; background-size: cover; background-image: url("../icon/icon-reset.png"); display: block; overflow: hidden; text-indent: -20000px;} 

  .location-selected-box-each{width:fit-content; padding: 5px 8px 5px 10px; display: inline-block;  background-color: #a8d2eb;   border-radius: 30px; line-height: 20px;}
  .location-selected,
  .location-delete{display: inline-block;}
  .location-selected{margin: 0 5px 0 3px; width: auto;}
  .location-selected-title{font-size: 13px; vertical-align: center;}
  .location-delete{width: 20px; height: 20px; background-color: #e0f7ff;  border-radius: 10px; text-align: center;}
  .location-delete-btn{font-size: 12px; padding-left: 2px;}

  /* search-detail-header */
  .search-detail-wrap{width: 50vw;  min-width: 500px; max-width: 650px;   padding: 0 4rem; }
  .search-detail-header-wrap{ display: flex; }
  .detail-location-wrap{display: flex; align-items: flex-end;}
  .detail-hashtag-wrap{display: flex; margin-left: 10px; align-items: flex-end; }
  .align-util{background-color: #fff; padding: 11px 30px 4px;  border-radius: 17px 17px 0 0;}
  .align-location{width: 28px; text-align: center;}
  .align-loc1{margin-right: 5px;}
  .hashtag-main{ z-index: 103; margin-left: 13px;}
  .align-hashtag{ border: 2px solid #fff; padding: 5px 10px 5px 23px ; margin-left: -17px;  border-radius: 11px 11px 0 0;  font-size: 12px; background-color: #29Aeec; border-bottom: none;}
  .align-pop{z-index: 102; background-color: #a8d2eb;}
  .align-alpha{z-index: 101;}
  .align-theme{z-index:100;}

  /* search-detail-body */
  .search-detail-content-wrap{border: 3px solid #fff; width: 50vw;  min-width: 500px; max-width: 650px; flex: 1 1 0%; border-radius: 54px; padding: 1rem 4rem;}
  .search-detail-content-box{display: flex; height: 170px; }
  .list-wrap{width: 69px; height: auto;  overflow: auto; }

  .list-wrap::-webkit-scrollbar{width:5px; height: auto;}
  .list-wrap::-webkit-scrollbar-thumb{height: 20px; background-clip:content-box; background-color: #fff; border-radius: 40px; }
  .list-wrap::-webkit-scrollbar-track {border: 2px solid transparent; background-clip:content-box; background-color: rgba(255, 255, 255, 0.8) }

  .list-loc1>li, .list-loc2>li{padding: 3px; text-align: center; background-color: #a8d2eb; margin-bottom: 4px; font-size: 12px; border: 2px solid #fff; border-radius: 8px; }
  .list-wrap-loc1{margin-left: 5px; padding-right: 13px;  }
  .list-wrap-loc2{margin-left: 17px; padding-right: 12px;}
  .list-wrap-hashtag{flex:1; border: none; margin-left: 29px;; }

  

  .list-hashtag>li{color: #fff; word-break: break-all; float: left; margin: 0 10px 14px 0; font-size: 15px;}
}

/* width: 50vw;  min-width: 500px; max-width: 650px; flex: 1 1 0%; border-radius: 2rem; padding: 1rem 4rem; */