@import url("reset.css");
@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
body{font-family: 'Jeju Gothic', sans-serif;}
header{position: fixed; width: 100%; height: 120px; box-shadow: 0 7px 10px -3px rgba(132, 155, 156, 0.8); background-color: #fff; z-index: 1000; top: 0; }
@media screen and (min-width:961px) {
    
  .header_top_wrap {width: 100%; height:100%; display: flex; justify-content: space-between; align-items: center; }
  .header_logo_home_wrap{width: 220px; height: 37px; margin-left: 70px; }
  .logo{width:100%; height: 100%; background-size: cover; background-image: url("../img/logo/logo-color.png");  display: block; overflow: hidden; text-indent: -20000px; }
  .header_util_wrap{margin-right: 40px; display: flex;}
  .util-btn-wrap{width: 100px; height: 37px;  margin: 0 10px; text-align: center; border: 1px solid transparent; border-radius: 30px; background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #8cc841 , #29aeec 50%);background-origin: border-box;background-clip:padding-box, border-box ; }
  .util-btn{line-height: 38px; padding:0 10px}
  

  .container{width: 97%; height: auto; margin: 120px auto 0; min-width: 961px; max-width: 1200px; display: block; }
  .util-wrap{display: flex; justify-content: center; align-items: center; flex-direction: column;  letter-spacing: 2px; padding: 80px 0;}
  /* util-box */
  .util-box{display: flex; justify-content: center; align-items: center; flex-direction: column; }

  /* Search-Box Style */
  .search-box-wrap{position: relative;}
  .detail-box{position:absolute; left:25px;top:20px; }
  .detail-icon{width: 13px; height: 10px; background-size: cover; background-image: url("../icon/icon-triangle_inverted.png"); display: block; overflow: hidden; text-indent: -20000px;}
  .search-input{width: 50vw; min-width: 500px; max-width: 650px; flex: 1 1 0%; border-radius: 2rem; padding: 1rem 4rem; font-size: 1rem; border: 1px solid #fff; box-shadow: 0 1px 2px 1px rgba(132, 155, 156, 0.8); }
  .search-input:focus{outline: none;}
  .search-box{position: absolute; right: 25px; top: 17px; }
  .search-icon{width: 16px; height: 17px; background-size: cover; background-image: url("../icon/icon-search.png"); display: block; overflow: hidden; text-indent: -20000px;}

  /* location-selected-wrap */
  .location-selected-wrap{width: 50vw; min-width: 500px;  max-width: 650px; margin: 24px 0; padding: 0 4rem; position: relative;}
  .condition-reset-wrap{position: absolute; left:20px; top: 6px;}
  .reset-icon-box{box-shadow: 0 1px 2px 1px rgba(132, 155, 156, 0.8); padding: 5px; border-radius: 50%;}
  .reset-icon{width: 13px; height: 12px; background-size: cover; background-image: url("../icon/icon-reset.png"); display: block; overflow: hidden; text-indent: -20000px;} 
  .location-selected-box-each{width:fit-content; padding: 5px 8px 5px 10px; display: inline-block; margin-right: 5px;  border-radius: 30px; border: 1px solid transparent; background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #8cc841 , #29aeec 50%);background-origin: border-box;background-clip:padding-box, border-box ; line-height: 20px;}
  .location-selected,
  .location-delete{display: inline-block;}
  .location-selected{margin: 0 5px 0 3px; width: auto;}
  .location-selected-title{font-size: 13px; }
  .location-delete{width: 20px; height: 20px; box-shadow: 0 1px 2px 1px rgba(132, 155, 156, 0.8);  border-radius: 10px; text-align: center;  }
  .location-delete>a{font-size: 12px; padding-left: 2px;}

  /* search-detail-header */
  .search-detail-wrap{width: 50vw;  min-width: 500px; max-width: 650px;   padding: 0 4rem; margin-bottom: -2px; }
  .search-detail-header-wrap{ display: flex; }
  .detail-location-wrap{display: flex; align-items: flex-end;}
  .detail-hashtag-wrap{display: flex; margin-left: 10px; align-items: flex-end; }
  .align-util{background-color: #fff; border-radius: 17px 17px 0 0; border: 2px solid transparent; background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #8cc841 , #29aeec 50%);background-origin: border-box;background-clip:padding-box, border-box ; height: 30px; text-align: center; line-height: 35px; font-size: 14px;}
  .align-location{width: 80px; }
  .align-loc1{margin-right: 14px;}
  .hashtag-main{ margin: 0 20px; width: 100px;}
  .align-hashtag{width: 60px; height: 20px; border-radius: 13px 13px 0 0;  font-size: 12px; background-color: #29Aeec; border-bottom: none; text-align: center; line-height: 23px;}
  .align-pop{border: 2px solid transparent; background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #8cc841 , #29aeec 50%);background-origin: border-box;background-clip:padding-box, border-box ; }
  .align-alpha{border: 2px solid #ccc;background-color: #fff; }
  .align-theme{border: 2px solid #ccc; background-color: #fff; }

  /* search-detail-body */
  .search-detail-content-wrap{width: 50vw;  min-width: 500px; max-width: 650px; flex: 1 1 0%; border-radius: 54px; padding: 1rem 4rem; z-index: 105; border: 3px solid transparent; background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #8cc841 , #29aeec 50%);background-origin: border-box;background-clip:padding-box, border-box ; } 
  .search-detail-content-box{display: flex; height: 170px; }
  .list-wrap{width: 69px; height: auto; overflow: auto;}
  .list-wrap::-webkit-scrollbar{width:5px; height: auto;}
  .list-wrap::-webkit-scrollbar-thumb{height: 20px; background-clip:content-box; background-color: #ccc; border-radius: 40px; }
  .list-loc1>li, .list-loc2>li{padding: 3px; text-align: center;  margin-bottom: 7px; font-size: 11px; border-radius: 8px; border: 2px solid #ccc; }
  .list-loc1>li:first-child, .list-loc2>li:first-child{padding: 3px; text-align: center;  margin-bottom: 7px; font-size: 11px; border-radius: 8px; border: 2px solid transparent; background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #8cc841 , #29aeec 50%);background-origin: border-box;background-clip:padding-box, border-box ;  }
  .list-wrap-loc1{margin-left: 5px; padding-right: 13px;  }
  .list-wrap-loc2{margin-left: 17px; padding-right: 12px;}
  .list-wrap-hashtag{flex:1; border-left: 1px solid #ddd; margin-left: 10px; padding-left: 20px; }
  .list-hashtag>li{ word-break: break-all; float: left; margin: 0 10px 14px 0; font-size: 13px;}


  /* shop-list-wrap */
  .shop-list-box{margin: 0 auto ; width: 100%; max-width: 1200px; min-width: 961px; height: auto;  display: block;}
  
  .shops-box{width: 100%;  position: relative; margin-right:auto}
  .shops-box::after{content: "";display: block;clear: both; }

  .shop-each{float: left; width: 260px; height: 300px; display: list-item;  border-radius: 0 0 80px 0; margin: 0 20px 40px; box-shadow: 0px 2px 14px -2px rgba(153, 162, 180, 0.8);  }
  .shop-container{display: flex; flex-direction: column; align-items: flex-start;}
  .shop-container-util{width: 80%; margin: 0 auto; }
  

  .shop-each_img{height: 170px;  margin-top: 20px;}
  .shop-each_img > img{width: 100%; height: 100%; object-fit: cover;}
  .shop-each_title{font-size: 1rem; margin: 18px auto; text-align: center; word-break: keep-all; }
  .shop-each_hashtag{font-size: 0.7rem; }


  .page{display: flex; justify-content: center;  margin: 20px 0;}
  .page>a{ margin: 5px;   width: 24px; height: 24px; text-align: center; line-height: 28px; }
  .page>a:nth-child(3){border: 1px solid #29aeec;}
  .page-util-btn{font-size: 10px; }
  
}

@media screen and (min-width: 961px) and (max-width: 1199px){
  .shop-each{width: 23%; margin: 1%}
}