@charset "utf-8";
@import url("reset.css");
@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

html,

body {
    width: 100%;
    height: 100%;
}

body {
    background-repeat: no-repeat;
    width: 100%;
    font-family: "Jeju Gothic", sans-serif;
    font-size: 16px;
}

input:focus {
    outline: 0;
}

.member_email{
    display: inline-flex;
}
.member_tel{
    display: inline-flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* margin-top: -100px; */
}



.container-body {
    text-align: center;
}

.inputInfo {
    width: 250px
}

.inputInfo li {
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    border: 1px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #8cc841, #29aeec 50%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 10px;
    box-shadow: 0 15px 10px -7px #eee;
    width:700px;
    margin-top: 150px;
}

li {
    list-style: none;
}

input {
    padding: 10px 30px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 20px 20px 0;
    letter-spacing: 1 px;
    font-size: 16px;
}

button {
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #8cc841, #29aeec 50%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    width: 125px;
    font-family: "Jeju Gothic", sans-serif;
    cursor: pointer;

    padding: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 20px 20px 0;
    font-size: 16px;
}

.form-wrap>li:last-child>a {
    font-size: 13px;
    color: #aaa;
    padding: 0 13px;
    border-right: 1px solid #aaaaaa;
}

.form-wrap>li:last-child>a:last-child {
    border: none;
}

input.fieldError {
    border: 1px solid red;
}

.globalError,
p.fieldError {
    color: red;
    font-size: 0.8em;
    font-weight: bold;
}

.Btn {
    display: flex;
    justify-content: center;
    margin: 40px;
}

#joinBtn,
#cancelBtn {
    margin: 0 15px;
}

#memberGender1{
    margin: 0;
}
#memberGender2{
    margin: 0;

}

.member_gender label {
    width: 25%;
}

.member_gender li {
display: flex;
    /* margin: 20px 20px 0; */
        padding: 10px 30px;
        width: 250px;
        border: 1px solid #ccc;
        border-radius: 20px;
        margin: 20px 20px 0;
        letter-spacing: 1 px;
        font-size: 16px;
}

#memberGender1,
#memberGender2 {
    width: 25%;
}



/* 업퍼*/

.header_top_wrap { position: fixed; width: 100%; height: 120px; box-shadow: 0 7px 10px -3px rgba(132, 155, 156, 0.8); background-color: #fff; z-index: 1000; top: 0; display:flex; justify-content:space-between; align-items:center;}
.header_logo_home_evt { width: 220px; height: 37px; text-align: center; margin-left:40px; }
.logo { width: 100%; height: 100%; background-size: cover; background-image: url("/img/logo/logo-color.png"); display: block; overflow: hidden; text-indent: -20000px;}
.header_util_wrap{margin-right: 40px; display: flex;}
.header_util_evt{width: 100px; height: 37px;  margin: 0 10px; text-align: center; border: 1px solid transparent; border-radius: 30px; background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #8cc841 , #29aeec 50%);background-origin: border-box;background-clip:padding-box, border-box ; }
.header_util_evt>a{line-height: 38px; padding:0 10px}

.util-wrap{margin-bottom: 50px;}
.search-box-wrap {width: 100%; display: flex; justify-content:center; align-items:center;}
.detail-box { display: inline-block; height: 100%; }
.detail-icon {width: 19px; height: 16px; background-size: cover; background-image: url("/img/icon/icon-triangle_inverted.png"); display: block; overflow: hidden; text-indent: -20000px;}
.search-box { display: flex; justify-content: space-between;}
#searchBtn { width: 24px; height: 26px; background-size: cover; background-image: url("/img/icon/icon-search.png"); display: block; overflow: hidden; text-indent: -20000px; color:white; background-color:white; border:none;}
#hashtags { display: inline-flex;}
.input_tag { width: 100%; min-width: 500px; max-width: 650px; flex: 1 1 0%; border-radius: 54px; padding: 1rem 4rem; display: flex; justify-content:space-between; align-items:center; border: 1px solid transparent; background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #8cc841, #29aeec 50%); background-origin: border-box; background-clip: padding-box, border-box;}
#keyword{width: 530px; height: 30px; border:none; }
#keyword:focus{outline:none;}
.input_tag__tags { display:flex; justify-content:space-between; align-items:center; }


.hashtagbox { width: 100%;}

ul {padding: 0;}
li {list-style: none;}