<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 수정</title>
  <style>
    p.errmsg {
      display: none;
      margin: 0;
      font-weight: bold;
      color: red;
    }
  </style>
</head>

<body>
<main th:fragment="memberModifyBox">

  <div>
<!--    <form action="/members/{memberEmail}/memberModify" method="post" th:object="${modifyForm}" >-->
    <form id="modifyForm" method="post" th:object="${modifyForm}" >

    <div class="content">

      <table>
        <th color="blue" align ="center" colspan = "2">회원수정</th>
        <tr>
          <td class="box1">
            <label for="memberEmail" th:for="${#ids.next('memberEmail')}">이메일</label>

          </td>
          <td class="box2">
            <li>
              <input type="text" name="memberEmail" id="memberEmail" th:field="*{memberEmail}"
                     th:class="${#fields.hasErrors('memberEmail') ? 'fieldError' : 'fieldSuccess'}"
                     disabled="disabled">
<!--              <button id="emailDupChk" type="button">중복확인</button>-->
<!--              <p class="errmsg"></p>-->
            </li>
<!--            <li th:if="${#fields.hasErrors('memberEmail')}">-->
<!--              <p th:errors="*{memberEmail}" th:errorclass="fieldError"></p>-->
<!--            </li>-->
          </td>
        </tr>
        <td class="box1">
  <label for="memberPasswd"   th:for="${#ids.next('memberPasswd')}">비밀번호</label>
        </td>
        <td class="box2">
          <li>
            <input type="password" placeholder="비밀번호를 입력해주세요" name="memberPasswd" id="memberPasswd" th:field="*{memberPasswd}"
                   th:class="${#fields.hasErrors('memberPasswd') ? 'fieldError' : 'fieldSuccess'}">
          </li>
          <li th:if="${#fields.hasErrors('memberPasswd')}">
            <p th:errors="*{memberPasswd}" th:errorclass="fieldError"></p>
          </li>
        </td>
        </tr>
        <tr>
          <td class="box1">
            <label for="memberPasswd"  th:for="${#ids.next('memberPasswdChk')}">비밀번호 확인</label>
          </td>
          <td class="box2">
            <input type="password"  name="memberPasswdChk" id="memberPasswdChk" th:field="*{memberPasswdChk}"
                   th:class="${#fields.hasErrors('memberPasswdChk') ? 'fieldError' : 'fieldSuccess'}">
            <li th:if="${#fields.hasErrors('memberPasswdChk')}">
              <p th:errors="*{memberPasswdChk}" th:errorclass="fieldError"></p>
            </li>
            <li th:if="${#fields.hasErrors('global')}">
              <p th:errors="*{global}" th:errorclass="globalError"></p>
            </li>
          </td>
        </tr>
        <tr>
          <td class="box1">
            <label for="memberTel" th:for="${#ids.next('memberTel')}">휴대전화</label>
          </td>
          <td class="box2">
            <li>
              <input type="text" name="memberTel" id="memberTel" th:field="*{memberTel}"
                     th:class="${#fields.hasErrors('memberTel') ? 'fieldError' : 'fieldSuccess'}">
              <button id="telDupChk" type="button">중복확인</button>
              <p class="errmsg1"></p>
            </li>
            <li th:if="${#fields.hasErrors('memberTel')}">
              <p th:errors="*{memberTel}" th:errorclass="fieldError"></p>
            </li>
          </td>
        </tr>
          <tr>
            <td class="box1">
              <label for="memberName" th:for="${#ids.next('memberName')}">이름</label>

            </td>
            <td class="box2">
              <li>
                <input type="text" name="memberName" id="memberName" th:field="*{memberName}"
                       th:class="${#fields.hasErrors('memberName') ? 'fieldError' : 'fieldSuccess'}">
              </li>
              <li th:if="${#fields.hasErrors('memberName')}">
                <p th:errors="*{memberName}" th:errorclass="fieldError"></p>
              </li>
            </td>
          </tr>
          <tr>
            <td class="box1">
              <label for="memberAge" th:for="${#ids.next('memberAge')}">생년월일(나이)</label>

            </td>
            <td class="box2">
              <li>
                <input type="text" placeholder="8자로 입력해주세요" name="memberAge" id="memberAge" th:field="*{memberAge}"
                       th:class="${#fields.hasErrors('memberAge') ? 'fieldError' : 'fieldSuccess'}">
              </li>
              <li th:if="${#fields.hasErrors('memberAge')}">
                <p th:errors="*{memberAge}" th:errorclass="fieldError"></p>
              </li>
            </td>
          </tr>
          <tr>
            <td class="box1">
              성별
            </td>
            <td class="box2">
              <li>
                <th:block th:each=" ele : ${memberGender} ">
                  <label for="male" th:for="${#ids.next('memberGender')}" th:text="${ele.description}"></label>
                  <input type="radio" th:field="*{memberGender}" th:value="${ele.name()}">
                </th:block>
                <th:block th:remove="all">
                  <label for="male">남자</label>
                  <input type="radio" name="gender" id="male" value="남자">
                  <label for="female">여자</label>
                  <input type="radio" name="gender" id="female" value="여자">
                </th:block>
              </li>
            </td>
          </tr>

      </table>
    </div>
    <div class="Btn">
      <input type="button" id="joinBtn" value="수정">
<!--      <input type="button" id="add" value="수정">-->
<!--      <input type="button" id="cancel" value="취소">-->
    </div>
    </form>
  </div>
  <script>

      const validChkStatus1 = {
        memberTel: false
      }

      const $tel = document.getElementById('memberTel');
      const $telDupChk = document.getElementById('telDupChk');



        const xmlHttpreq1 = new XMLHttpRequest();






      $telDupChk.addEventListener('click', e => {

        const $errmsg1 = $telDupChk.closest('li').querySelector('.errmsg1');
        if (!$tel.value) {
          $errmsg1.textContent = '전화번호를 입력하세요';
          $tel.select(); $tel.focus();
          return false;
        }

        const xmlHttpreq1 = new XMLHttpRequest();

        const url1 = `/api/members/${$tel.value}/existTel`;

        xmlHttpreq1.open("GET", url1);
        xmlHttpreq1.send();

        xmlHttpreq1.addEventListener('load', e => {
          if (xmlHttpreq1.status === 200) { //성공적으로 서버응답 받으면
            console.log(xmlHttpreq1.response);
            const result1 = JSON.parse(xmlHttpreq1.response); //Json포맷 문자열 => JS객체로변환
            console.log(result1);
            const $errmsg1 = $telDupChk.closest('li').querySelector('.errmsg1');
            if (result1.rtcd === '00') {
              //alert('이미 사용되고 있는 아이디 입니다.');
              $errmsg1.textContent = '이미 사용되고 있습니다 .';
              $errmsg1.style.display = 'block';
            } else {
              $errmsg1.textContent = '';
              $errmsg1.style.display = 'none';
              $telDupChk.textContent = '사용가능';
              $telDupChk.disabled = 'disabled';
              $tel.readyOnly = 'readyOnly';
              validChkStatus1.tel = true;
            }
          } else {
            console.log('Error', xmlHttpreq1.status, xmlHttpreq1.statusText);
          }
        });
      });



      //회원가입 버튼 클릭시
      joinBtn.addEventListener('click', e => {


        //아이디 중복체크 미이행시
        if (!validChkStatus1.tel) {
          alert('전화번호 중복체크 바랍니다');
          $tel.focus();
          $telDupChk.select();
          return;
        }

        modifyForm.submit();
      });

  </script>
<!--  <script>-->
<!--// 등록-->
<!--addBtn?.addEventListener('click', e=> {-->
<!--    writeForm.submit();-->
<!--});-->
<!--// 목록-->
<!--listBtn?.addEventListener("click", e => {-->
<!-- const url = `/bbs/list?category=${category}`;-->
<!--  location.href = url;-->
<!--});-->
<!--      </script>-->
</main>
</body>
</html>