/* 상세 CSS 시작*/


.menuitems .Areadata {  
  width: 100%;
  height: 10%; 
}

.menu .menuitems .detailChoice {
  width: 100%;
  height: 90%;
  display: flex;  
}
.Areadata .selectArea{
  width: 100%;
  height: 100%;
  
}
.Areadata .selectArea .resetBtn {
  width: 100px;
  height: 90%; 
  border-radius: 10px;
  background-color: #ccead8;
}
/* ㅁㄴㅇㄹ */
.Areadata .selectArea .reset {
  align-items: center;
  appearance: none;
  background: #333333;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  height: 15px;
  justify-content: center;
  line-height: 0;
  margin-left: 8px;
  padding: 0;
  transform: rotate(45deg);
  width: 15px;
}

.Areadata .selectArea li {
  display: inline; 
}

.menu .menuitems .detailChoice .detailmenu {
  text-decoration: none; 
  width: 50%;
  height: 100%;
  font-weight: bold;
  font-size: 0.8rem;

  
  /* border-right: 1px solid #86b1e5; */
 
}



.menu .menuitems .detailChoice .detailbox .hashtag {  
  width: 100%;
  height: 15%;
  background-color: #b7cae2;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
}

.menu .menuitems .detailChoice .detailbox .hashtagbox { 
  width: 100%;
  height: 85%;
  background-color: #dce4ed;
  border-radius: 5px;
  font-weight: bold;
 
}

.menu .menuitems .detailChoice .detailbox { 
  width: 50%;
  height: 100%;
}
.menu .menuitems .detailChoice .detailbox p{
  display: inline-block;
  margin: 15px;
}


.scroll {
  overflow: auto;
}

@media (max-width: 600px) {
  .menu .menuitems .detailChoice {
    display: inline-block;
    /* 미정 */
    /* overflow: auto; */
  }

  .menu .menuitems .detailChoice .detailmenu {
    width: 100%;
  }
 

  .menu .menuitems .detailChoice .detailbox {
    width: 100%;
  }
  .home-logo-title{
    font-size: 80px;
  }
}

/* 상세 CSS 끝*/
/*  상세 박스*/
.menu .menuitems .detailChoice .detailmenu .Area {  
  overflow: hidden;
  list-style: none;
  width: 100%;
  height: 15%; 
  background-color: #b7cae2;
  border-radius: 5px; 
  text-align: center;
}
.menu .menuitems .detailChoice .detailmenu .Area li{    
  width: 100%;  
  height: 100%;  
  text-align: center;
  line-height: 40px;
  
}


.com7 {
  margin: 0;
  width: 100%; 
  display: inline-block;
}




.com4 {
  position: absolute;
  display: inline-block;
 
  height: 229.5px;
  /* outline: 1px red solid; */

}


.com8 {
  
  width: 100%;     
  height: 229.5px;
  display: inline-block;
  background: #dce4ed;
  /* outline: 1px red solid; */
  /* background-color: bisque; */
}  
.com8 li{
  padding: 10px;

}



/* 상세 박스 끝 */

/* 상세 해시태그 */

label{
  outline: red 1px solid;
  margin: 5px;
}
ul {
  padding: 0;
}

li {
  list-style: none;
}
/* * {
  font-family: sans-serif;
  font-size: 17px;
} */

body {
  background: #f2f2f2;
  padding: 20px;
}

.input_tag {
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 0;
}

.input_tag input {
  border: none;
  width: 100%;
  height: 30px;
}

.input_tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input_tag__tags li {
  align-items: center;
  background: #85A3BF;
  border-radius: 2px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px;
}

.input_tag__tags li button {
  align-items: center;
  appearance: none;
  background: #333333;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  height: 15px;
  justify-content: center;
  line-height: 0;
  margin-left: 8px;
  padding: 0;
  transform: rotate(45deg);
  width: 15px;
}

.input_tag__tags li.input_tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
}

.hashtags {
  display: inline-flex;
}
input[type="checkbox"] {
  /* display: none; */
}

/* 상세 해시태그 */

footer {
  margin: 20px;
}