<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/main2::main2(
        ~{::title},       <!--/* title */-->
        <!--/* --------------------------------------- */-->
        <!--/*  외부파일로 정의시      */-->
        ~{::link},        <!--/* styles */-->
        ~{::script},      <!--/* scripts */-->
        <!--/*  내부 태그로 정의시      */-->
        ~{},              <!--/* style */-->
        ~{},              <!--/* script */-->
        <!--/* --------------------------------------- */-->
        ~{::.upm-inner},  <!--/* upm */-->
        ~{},              <!--/* header */-->
        ~{::nav},         <!--/* nav */-->
        ~{::main},        <!--/* main */-->
        _                 <!--/* footer default*/-->
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>커피숍 작성</title>
  <link rel="stylesheet" href="" th:href="@{/css/coffeeShop/addForm.css}">
  <script defer src="" th:src="@{/js/common/ckeditor.js}"></script>
  <script defer src="" th:src="@{/js/coffeeShop/addForm.js}"></script>
</head>
<body>
<div class="global-wrap">
  <div class="upm">
    <div class="inner upm-inner">
      <th:block th:replace="~{fragment/uppermost2::afterLoginUpm}"></th:block>
    </div>
  </div>
  <div class="hdr">
    <div class="inner hdr-inner">
      <header>header</header>
    </div>
  </div>
  <div class="gnb">
    <div class="inner gnb-inner">
      <nav></nav>
    </div>
  </div>
  <div class="main">
    <div class="inner main-inner">
      <main>

        <div class="coffeeShop-title"><h3>커피숍 작성</h3></div>
        <div class="class-body">
          <form id="writeForm" method="post" th:object="${coffeeShopJoinForm}" >

            <div class="coffeeShop-content">

              <div><label for="">B0101 메인사진</label></div>
              <div>
                <div class="coffeeShop-wrap1" data-code="B0101">
                  <select name="" class="w100" th:field="*{bcategoryB0101}" readonly
                          onFocus="this.initialSelect = this.selectedIndex;"
                          onChange="this.selectedIndex = this.initialSelect;">
<!--                    <option value="">==선택==</option>-->
                    <th:block th:each="code : ${classifier}">
                      <option value="" th:value="${code.code}" th:text="${code.decode}"></option>
                    </th:block>
                  </select>
                  <div><label>첨부</label></div>
                  <div><input type="file" id="" name="" class="w100" th:field="*{files1}" multiple></div>
                </div>
              </div>

              <div><label for="">B0102 음료</label></div>
              <div>
                <div class="coffeeShop-wrap2" data-code="B0102">
                  <select name="" class="w100" th:field="*{bcategoryB0102}" readonly
                          onFocus="this.initialSelect = this.selectedIndex;"
                          onChange="this.selectedIndex = this.initialSelect;">
<!--                    <option value="">==선택==</option>-->
                    <th:block th:each="code : ${classifier}">
                      <option value="" th:value="${code.code}" th:text="${code.decode}"></option>
                    </th:block>
                  </select>
                  <div><label>첨부</label></div>
                  <div><input type="file" id="" name="" class="w100" th:field="*{files2}" multiple></div>
                </div>
              </div>

              <div><label for="">B0103 디저트</label></div>
              <div>
                <div class="coffeeShop-wrap3" data-code="B0103">
                  <select name="" class="w100" th:field="*{bcategoryB0103}" readonly
                          onFocus="this.initialSelect = this.selectedIndex;"
                          onChange="this.selectedIndex = this.initialSelect;">
<!--                    <option value="" th:value="${code.code}" th:text="${code.decode}"></option>-->
<!--                    <option value="">==선택==</option>-->
                    <th:block th:each="code : ${classifier}">
                      <option value="" id="" th:value="${code.code}" th:text="${code.decode}"></option>
                    </th:block>
                  </select>
                  <div><label>첨부</label></div>
                  <div><input type="file" name="" class="w100" th:field="*{files3}" multiple></div>
                </div>
              </div>

              <div><label for="">B0104 굿즈</label></div>
              <div>
                <div class="coffeeShop-wrap4" data-code="B0104">
                  <select name="" class="w100" th:field="*{bcategoryB0104}" readonly
                          onFocus="this.initialSelect = this.selectedIndex;"
                          onChange="this.selectedIndex = this.initialSelect;">
<!--                    <option value="">==선택==</option>-->
                    <th:block th:each="code : ${classifier}">
                      <option value="" th:value="${code.code}" th:text="${code.decode}"></option>
                    </th:block>
                  </select>
                  <div><label>첨부</label></div>
                  <div><input type="file" id="" name="" class="w100" th:field="*{files4}" multiple></div>
                </div>
              </div>

              <div><label for="">B0105 썸네일</label></div>
              <div>
                <div class="coffeeShop-wrap5" data-code="B0105">
                  <select name="" class="w100" th:field="*{bcategoryB0105}" readonly
                          onFocus="this.initialSelect = this.selectedIndex;"
                          onChange="this.selectedIndex = this.initialSelect;">
                    <!--                    <option value="">==선택==</option>-->
                    <th:block th:each="code : ${classifier}">
                      <option value="" th:value="${code.code}" th:text="${code.decode}"></option>
                    </th:block>
                  </select>
                  <div><label>첨부</label></div>
                  <div><input type="file" id="" name="" class="w100" th:field="*{files5}" ></div>
                </div>
              </div>


              <div><label>커피숍이름</label></div>
              <div>
                <input type="text" name="" class="w100" th:field="*{shopName}">
              </div>
              <div><label>주소</label></div>
              <div><input th:field="*{shopAddress}"></div>
              <div><label>전화번호</label></div>
              <div>
                <input name="" id="" rows="10" class="w100" th:field="*{shopTel}">
              </div>

              <td class="box2">

                <div><label>주차</label></div>

                <th:block th:each=" ele : ${ynParking} ">
                  <label th:for="${#ids.next('ynParking')}" th:text="${ele.description}"></label>
                  <input type="radio" name="ynParking" th:checked="${ynParking eq '아니오' ? 'checked' : ''}"
                         th:value="${ele.description}">
                </th:block>
                <th:block th:remove="all">
                  <label for="noParking">아니오</label>
                  <input type="radio" name="ynParking" id="noParking" value="아니오">
                  <label for="Parking">예</label>
                  <input type="radio" name="ynParking" id="Parking" value="예">
                </th:block>


              </td>

              <td class="box2">

                <div><label>24시간</label></div>

                <th:block th:each=" ele : ${ynAllDay} ">
                  <label th:for="${#ids.next('ynAllDay')}" th:text="${ele.description}"></label>
                  <input type="radio" name="ynAllDay" th:checked="${ynAllDay eq '아니오' ? 'checked' : ''}"
                         th:value="${ele.description}">
                </th:block>
                <th:block th:remove="all">
                  <label for="noAllDay">아니요</label>
                  <input type="radio" name="ynAllDay" id="noAllDay" value="남자">
                  <label for="AllDay">예</label>
                  <input type="radio" name="ynAllDay" id="AllDay" value="여자">
                </th:block>

              </td>
            </div>
          </form>
          <div class="coffeeShop-btngrp">
            <button type="button" id="writeBtn">등록</button>
            <button type="button" id="listBtn">목록</button>
          </div>
        </div>


      </main>
    </div>
    <div class="foot">
      <div class="inner foot-inner">
        <footer>
          footer
        </footer>
      </div>
    </div>
  </div>
</div>
</body>
</html>