<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>

<body>
<nav th:fragment="global">

  <div class="util-wrap">
    <div class="util-box">
      <div class="search-box-wrap">
        <div class="input_tag">
          <li class="detail-box">
            <a href="#" class="detail-icon">상세</a>
          </li>
          <ul class="input_tag__tags">
            <div id="hashtags"></div>
            <li class="input_tag__tags__input">
              <select name="searchType" id="searchType" style="display: none;">
                <option th:value="KEYWORD" value="">키워드</option>
                <option th:value="HASHTAG" value="">해시태그</option>
              </select>
              <input type="text" id="keyword" placeholder="검색어를 입력하세요" name="keyword" onkeyup="backspace()">
            </li>
          </ul>
          <div class="search-box">
            <button id="searchBtn">검색</button>
          </div>
        </div>
      </div>
      <div class="location-selected-wrap">
        <div class="condition-reset-wrap"></div>
        <div class="areabox"></div>
      </div>

      <!-- search-detail-header -->
      <div class="menu">
        <input type="checkbox" class="detailCHK" id="collapsible">
        <div class="menuitems">
          <div class="detailChoice">
          <div class="detailmenu">
            <div class="Area">

                <li class="is_on">
                  <a href="#tab1" class="btn tab1 align-hashtag hashtag-coffee" id="btn tab1" >커피</a>
                </li>
                <li>
                  <a href="#tab2" class="btn tab2 align-hashtag hashtag-beverage" id="btn tab2">음료</a>
                </li>
                <li>
                  <a href="#tab3" class="btn tab3 align-hashtag hashtag-dessert" id="btn tab3">디저트</a>
                </li>
                <li>
                  <a href="#tab4" class="btn tab4 align-hashtag align-goods" id="btn tab4">굿즈</a>
                </li>
                <li>
                  <a href="#tab5" class="btn tab5 align-hashtag align-mood" id="btn tab5">분위기</a>
                </li>
                <li>
                  <a href="#tab6" class="btn tab6 align-hashtag align-view" id="btn tab6">뷰</a>
                </li>
                <li>
                  <a href="#tab7" class="btn tab7 align-hashtag align-location" id="btn tab7">지역</a>
                </li>

            </div>


<!--            <div class="search-detail-content-wrap">-->
<!--              <div class="list-wrap list-wrap-hashtag">-->

                <div class="scroll Areaboxs">
<!--                  <li class="sub_item">-->
                    <div id="tab1" class="cont" style="z-index: 2;">
                      <div class="btn-coffee">
                        커피1
                      </div><!-- class="tab2box" -->
                    </div><!-- id="tab1" class="cont" -->
                    <div id="tab2" class="cont">
                      <div class="btn-beverage">
                        음료
                      </div><!-- class="tab2box" -->
                    </div><!-- id="tab2" class="cont" -->
                    <div id="tab3" class="cont">
                      <div class="btn-dessert">
                        디저트
                      </div><!-- class="tab3box" -->
                    </div><!-- id="tab3" class="cont" -->
                    <div id="tab4" class="cont">
                      <div class="btn-goods">
                        굿즈
                      </div><!-- class="tab3box" -->
                    </div><!-- id="tab3" class="cont" -->
                    <div id="tab5" class="cont">
                      <div class="btn-mood">
                        분위기
                      </div><!-- class="tab3box" -->
                    </div><!-- id="tab3" class="cont" -->
                    <div id="tab6" class="cont">
                      <div class="btn-view">
                        뷰
                      </div><!-- class="tab3box" -->
                    </div><!-- id="tab3" class="cont" -->

                    <div id="tab7" class="cont">
                      <div class="btn-location">
                        지역
                      </div><!-- class="tab3box" -->
                    </div><!-- id="tab3" class="cont" -->
<!--                  </li>-->
                </div>
                </div>

              </div>
<!--            </div>&lt;!&ndash; class="Areabox" &ndash;&gt;-->
<!--          </div>&lt;!&ndash; class="detailmenu" &ndash;&gt;-->


        </div>
      </div>
    </div>
  </div>
</nav>
</body>
</html>