<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 전</title>
  <link rel="stylesheet" href="/css/home/home-page-style.css">

</head>
<body>

  
    <header>
      <div class="header-wrap">
        <div class="header-box">
          <div class="header-content header-login">
            <a class="login-btn" href="/login">Log In</a>
          </div>
          <div class="header-content header-signin">
            <a class="signin-btn" href="#">Sign In</a>
          </div>
        </div>
      </div>
    </header>
    <div class="util-wrap">
    
      <div class="util-box">
        <div class="logo-box">
          <div class="logo">
            <img src="/img/logo/logo-white.png" alt="">
          </div>
        </div>
        <div class="search-box-wrap">
          <div class="detail-box">
            <a href="#" class="detail-icon">상세</a>
          </div>
          <input class="search-input" type="text" placeholder="Do The Best!">
          <div class="search-box">
            <a href="#" class="search-icon">검색</a>
          </div>
        </div>
      </div>
      <div class="location-selected-wrap">
        <div class="condition-reset-wrap">
          <div class="reset-icon-box">
            <a href="#" class="reset-icon">초기화</a>
          </div>
        </div>
        <div class="location-selected-boxes">
          <div class="location-selected-box-each">
            <div class="location-selected">
              <span class="location-selected-title">지역1구구1</span>
            </div>
            <div class="location-delete">
              <a class="location-delete-btn" href="#">X</a>
            </div>
          </div>
          <div class="location-selected-box-each">
            <div class="location-selected">
              <span class="location-selected-title">지역2구구2</span>
            </div>
            <div class="location-delete">
              <a class="location-delete-btn" href="#">X</a>
            </div>
          </div>
        </div>
      </div>
    
    <!-- search-detail-header -->
      <div class="search-detail-wrap">
        <div class="search-detail-header-wrap">
          <div class="detail-location-wrap">
            <div class="align-util align-location align-loc1">
              <a href="#" class="btn-loc1">시</a>
            </div>
            <div class="align-util align-location align-loc2">
              <a href="#" class="btn-loc2">구</a>
            </div>
          </div>
          <div class="detail-hashtag-wrap">
            <div class="align-util hashtag-main">
              <span>해시태그</span>
            </div>
            <div class="align-hashtag align-pop">
              <a href="#" class="btn-pop">인기순</a>
            </div>
            <div class="align-hashtag align-alpha">
              <a href="#" class="btn-alpha">글자순</a>
            </div>
            <div class="align-hashtag align-theme">
              <a href="#" class="btn-theme">테마별</a>
            </div>
          </div>
        </div>
      </div>
    
      <!-- search-detail-body -->
      <div class="search-detail-content-wrap">
        <div class="search-detail-content-box">
          <div class="list-wrap list-wrap-loc1">
            <ul class="list-loc1">
              <li>지역1</li>
              <li>지역2</li>
              <li>지역3</li>
              <li>지역4</li>
              <li>지역5</li>
              <li>지역6</li>
              <li>지역7</li>
              <li>지역8</li>
              <li>지역9</li>
              <li>지역10</li>
    
            </ul>
          </div>
          <div class="list-wrap list-wrap-loc2">
            <ul class="list-loc2">
              <li>구구1</li>
              <li>구구2</li>
              <li>구구3</li>
              <li>구구4</li>
              <li>구구5</li>
              <li>구구6</li>
              <li>구구7</li>
              <li>구구8</li>
              <li>구구9</li>
              <li>구구10</li>
            </ul>
          </div>
          <div class="list-wrap list-wrap-hashtag">
            <ul class="list-hashtag">
              <li>#해시태그1</li>
              <li>#해시태그2</li>
              <li>#해시태그3</li>
              <li>#해시태그4</li>
              <li>#해시태그5</li>
              <li>#해시태그6</li>
              <li>#해시태그7</li>
              <li>#해시태그8</li>
              <li>#해시태그9</li>
              <li>#해시태그10</li>
    
    
            </ul>
          </div>
        </div>
      </div>
    </div>
  
  <!-- <script src="../js/search-bar.js"></script> -->
</body>
</html>