@import url("reset.css");

:root {
  --black: rgba(0, 0, 0, 0);
  --blue: #b4bce9;
}



.header-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 40px;
}

main {
  
  height: 70%;
}

.home-content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.home-search-box {
  margin-top: 30px;
}

.home-logo-title {
  font-size: 100px;
  color: var(--blue);
}

.home-search__form {
  display: flex;
}

.search__input-box {
  flex: 1 1 0%;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.25rem;
  margin-right: 1rem;
  width: 50vw;
}

.search-button__standard {
  margin-right: 20px;
  cursor: pointer;
}

.search-button__detail {
  cursor: pointer;
}

.input-group input {
  width: 100%;
  height: 100%;
}

.menu input[type=checkbox] {
  display: none;
}

.menu input[type=checkbox]+label {
  padding-left: 25px;
  background-repeat: no-repeat;
}

.menu input[type=checkbox]+label>span {
  font-weight: bold;
}

.menu {
  width: 100%;  
}


.menu .menuitems {
  outline: 1px solid red;
  width: 65%;
  height: 300px;
  list-style: none;
  display: none; 
  margin: 0 auto;  

}

.menuitems .Areadata {
  outline: 1px solid red;
  width: 100%;
  height: 10%;
}

.menu .menuitems .detailChoice {
  width: 100%;
  height: 90%;
  display: flex;

}

.Areadata .selectArea li {
  display: inline;
}

.menu .menuitems .detailChoice .detailmenu {
  text-decoration: none; 
  width: 50%;
  height: 100%;
  font-weight: bold;
  font-size: 0.8rem;
}


.menu .menuitems .detailChoice .detailmenu .Area {
  outline: 1px solid red;
  overflow: hidden;
  list-style: none;
  /* display: inline-block; */
  width: 100%;
  height: 15%;
}

.menu .menuitems .detailChoice .detailmenu .Areabox {
  outline: 1px solid red;
  display: inline-block;
  width: 100%;
  height: 85%;
  position: relative;

}

.menu .menuitems .detailChoice .detailmenu .Areabox .cont { 
  position: absolute;
  left: 0;
  /* text-align: center; */
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  display: inline-flex;
}

.Areabox a {
  margin: 10px;
  text-align: center;
}

.menu .menuitems .detailChoice .detailmenu li {
  float: left;
  margin-right: 14px;
}

.menu .menuitems .detailChoice .detailmenu li.is_on .btn {
  font-weight: bold;
  color: blue;
}

.menu .menuitems .detailChoice .detailmenu .btn {
  font-size: 15px;
  margin-left: 50px;

}

.menu .menuitems .detailChoice .detailbox .hashtag {
  outline: 1px solid red;
  /* display: inline-block; */
  width: 100%;
  height: 15%;
}

.menu .menuitems .detailChoice .detailbox .hashtagbox {
  outline: 1px solid red;
  /* display: inline-block; */
  width: 100%;
  height: 85%;
}

.menu .menuitems .detailChoice .detailbox {
  text-decoration: none;
  /* outline: 1px solid red; */
  /* color: white; */
  width: 50%;
  height: 100%;
  /* font-weight: bold; */
  font-size: 0.8rem;
}

.menu input[type=checkbox]:checked~.menuitems {
  display: block;
}

.scroll {
  overflow: auto;
}

@media (max-width: 600px) {
  .menu .menuitems .detailChoice {
    display: inline-block;
    overflow: auto;
  }

  .menu .menuitems .detailChoice .detailmenu {
    width: 100%;
  }

  .menu .menuitems .detailChoice .detailbox {
    width: 100%;
  }
}

footer {
  margin: 20px;
}