@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid tomato; */
}

/* 헤더 부분 css 시작 */
header {
  background-color: #fff;
  position: sticky;
  top: 0px;
  opacity: 0.9;
  backdrop-filter: blur(50px);
}

.headerBox {
  display: flex;
  justify-content: space-between;
}

.header-logo img {
  width: 200px;
  height: 100px;
}

.search-Text,
.search-Btn {
  line-height: 100px;
} /* 헤더 높이에 따라 변경. */
/* 헤더 부분 css 끝 */
/* 메인 컨텐츠 css 시작 */
main {
  margin-top: 50px;
  height: max-content;
}

.list-form {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.base-form {
  margin: 50px;
}

.cafe-info {
  display: flex;
  width: 500px;
  height: 200px;
}

.cafe-info-img img {
  width: 300px;
  height: 200px;
}

.cafe-info-text {
  width: 200px;
  flex-direction: column;
}

.cafe-info-name {
  font-size: 2em;
  text-align: center;
}

.cafe-info-hashTag {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
}

.hashTag-info span {
  margin-bottom: 20px;
}
/* 메인 컨텐츠 css 끝 */
/* 페이지 이동 css 시작 */
.page {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 30px;
  text-align: center;
}
/* 페이지 이동 css 끝 */
